default: &default
  adapter: postgresql
  encoding: unicode
  host: localhost
  pool: 5

development:
  <<: *default
  database: diplom_development

test:
  <<: *default
  database: diplom_test

production:
  <<: *default
  database: diplom_production
