td = user.email
td = select :user, :role, options_for_select(User.roles.keys, selected: user.role), {}, class: 'btn dropdown-toggle btn-default', data: { remote: true, url: admin_users_path(id: user.id), method: :put }
